
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />


<label style="color:brown;font-size:16px;font-style:italic">Emissão de Certidões</label>
<br />

<div style="width:650px">
    <ul>
        <li>@Html.ActionLink("Certidão de endereço atualizado", "Certidao_Endereco", "Imovel")</li>
        <li>@Html.ActionLink("Certidão de valor venal", "Certidao_Valor_Venal", "Imovel")</li>
        <li>@Html.ActionLink("Certidão de isenção de IPTU", "Certidao_Isencao", "Imovel")</li>
        <li>@Html.ActionLink("Certidão de débito (Código do imóvel ou inscrição municipal)", "Certidao_Debito_Codigo", "Tributario")</li>
        <li>@Html.ActionLink("Certidão de débito (CPF/CNPJ)", "Certidao_Debito_Doc", "Tributario")</li>
        <li>@Html.ActionLink("Comprovante de inscrição e situação cadastral", "Certidao_Inscricao", "Empresa")</li>
    </ul>
</div>

<br />
@Html.ActionLink("Retornar ao menu principal", "Index", "Home")

