
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />


@*<label style="color:brown;font-size:16px;font-style:italic">Serviços disponíveis</label>*@

<div style="width:650px">
    <ul>
        <li>@Html.ActionLink("Consulta e atualização de boletos vencidos para pagamento", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Emissão de 2ª via do carnê de IPTU (2019)", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Emissão de 2ª via do carnê de ISS Fixo/Taxa de Licença (2019)", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Emissão de 2ª via do carnê de Vigilância Sanitária (2019)", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Consulta de Processos", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Emissão de 2ª via da contribuição de iluminação pública (CIP)(2019)", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Consultar endereço da contribuição de iluminação pública (CIP)(2019)", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Impressão dos detalhes de um boleto", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Comprovante de inscrição e de situação cadastral", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Download da declaração cadastral (DECA)", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Importação de arquivos Via Rápida Empresa (VRE)", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Renovação de alvará de funcionamento", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Emissão de certidões/Verificar autenticidade ", "Certidao", "Home")</li>
        <li>@Html.ActionLink("Dados cadastrais de uma empresa", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Impressão de comprovante de pagamento", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Situação dos débitos ref. a ISS Fixo, Taxa de Licença e Vig. Sanitária", "Details", "Empresa")</li>
    </ul>
</div>



